.category-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1440px) {
  .category-catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.category-catalog__item {
  width: 100%;
}

@media (min-width: 1440px) {
  .category-catalog__item {
    width: 570px;
  }
}

.category-catalog__item {
  background-color: @grey-100;
}

.category-catalog__title {
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.category-catalog__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @dark-grey-100;
}

.category-catalog__link {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: @basic-black;
  text-decoration: none;
  text-transform: uppercase;
}
