@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example {
  background-color: @grey-350;
}

.example__description h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.example__description p {
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey-100;
}

@media (min-width: 768px) {
  .example__numbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .example__numbers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.example__stats {
  display: flex;
}

.example__stats div {
  display: flex;
  flex-direction: column-reverse;
}

.example__stats dt {
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey-100;
  text-transform: uppercase;
}

.example__stats dd {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .example__cost tr {
    display: flex;
    flex-direction: column;
  }
}

.example__weight-button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
