.example__wrapper {
  padding-top: 27px;
  padding-bottom: 31px;
}

@media (min-width: 769px) {
  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.example {
  background-color: @grey-350;
  padding-top: 1px;
}

@media (min-width: 768px) {
  .example {
    background: linear-gradient(to top, @grey-100 462px, @basic-white 462px);
  }
}

.example__description h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: 1440px) {
  .example__description h2 {
    margin-top: 58px;
  }
}

.example__description p {
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey-100;
  margin: 0;
  padding: 0;
  margin-top: 33px;
}

@media (min-width: 768px) {
  .example__description p {
    margin-top: 63px;
  }
}

@media (min-width: 1440px) {
  .example__description p {
    margin-top: 146px;
    width: 436px;
  }
}

.example__numbers {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .example__numbers {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
  }
}

@media (min-width: 1440px) {
  .example__numbers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 69px;
  }
}

.example__stats {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .example__stats {
    width: 366px;
    margin: 0;
  }
}

.example__stats div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.example__stats dt {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey-100;
  box-sizing: border-box;
  width: 82px;
  background-color: @grey-350;
  margin: 0 auto;
  margin-top: -10px;
  z-index: 2;
}

@media (min-width: 768px) {
  .example__stats dt {
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
  }
}

@media (min-width: 1440px) {
  .example__stats dt {
    background-color: @grey-100;
  }
}

.example__stats dd {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid @grey-300;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .example__stats dd {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 11px;
}

@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .example__cost tr {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .example__cost {
    margin-top: 35px;
    display: flex;
  }

  .example__cost tr {
    display: flex;
    flex-direction: row;
    width: 337px;
  }

  .example__cost td {
    width: 60%;
  }

  .example__cost td:nth-child(2) {
    width: 40%;
    text-align: right;
  }
}

.example__weight-loss {
  margin-top: 42px;
}

@media (min-width: 768px) {
  .example__weight-loss {
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .example__weight-loss {
    margin-top: -48px;
  }
}

.example__weight-after {
  display: none;
}

.example__weight-image {
  width: 280px;
  height: 232px;
  margin: 0  auto;
}

@media (min-width: 768px) {
  .example__weight-image {
    width: 707px;
    height: 505px;
  }
}

@media (min-width: 1440px) {
  .example__weight-image {
    width: 100%;
    height: 534px;
    margin: 0 auto;
  }
}

.example__weight-range {
  width: 195px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  align-items: center;
}

@media (min-width: 768px) {
  .example__weight-range {
    width: 572px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .example__weight-range {
    margin: 0;
    margin-left: auto;
    margin-top: 19px;
  }
}

.example__weight-scale {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @grey-300;
  border-radius: 6px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .example__weight-scale {
    width: 428px;
    height: 6px;
    border: none;
    background-color: @grey-300;
  }
}

.example__weight-toggle {
  position: absolute;
  left: 6px;
  top: 3px;
  border: none;
  width: 35px;
  height: 6px;
  border-radius: 4px;
  background-color: @green;
}

@media (min-width: 768px) {
  .example__weight-toggle {
    position: relative;
    top: -14px;
    width: 34px;
    height: 34px;
    background-color: @basic-white;
    border-radius: 50%;
    border: 1px solid @grey-300;
  }

  .example__weight-toggle::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: @green;
    border-radius: 50%;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
  }
}

.example__weight-button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .example__weight-button {
    font-size: 20px;
    line-height: 29px;
  }
}
