.footer {
  background-color: @grey-100;
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.footer__location {
  background-color: @basic-white;
}

.footer__address h2 {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__address p {
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey-100;
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__copyrigh-link {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey-100;
}
