@media (min-width: 768px) {
  .header {
    margin: 0 auto;
    width: 92%;
    display: flex;
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 1220px;
    z-index: 2;
  }
}

.header__link {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__link {
    padding: 0;
    margin: 0;
    display: block;
  }
}

.header__toggle {
  position: relative;
  width: 24px;
  height: 1.5px;
  background-color: @basic-black;
  border: none;
  outline: none;
}

.header__toggle::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  transition: transform 0.2s ease-in 0.2s, top 0.2s linear;
  bottom: -8px;
  left: 0;
}

.header__toggle::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  transition: transform 0.2s ease-in 0.2s, top 0.2s linear;
  top: -8px;
  left: 0;
}

.open-toggle.header__toggle {
  position: relative;
  width: 24px;
  height: 1.5px;
  background-color: transparent;
}

.open-toggle.header__toggle::before {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.open-toggle.header__toggle::after {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__logo-text {
  width: 101px;
  height: 18px;
}

.header__logo img {
  width: 33px;
  height: 37px;
}

@media (min-width: 768px) {
  .header__logo img {
    width: 174px;
    height: 51px;
  }
}

@media (min-width: 1440px) {
  .header__logo img {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: 768px) {
  .header__logo-text {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__link {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .navigation {
    width: 440px;
  }
}
