.promo__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .promo__wrapper {
    width: 92%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1220px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__button{
  order: 2;
}
