.main__selection {
  padding-top: 27px;
}

@media (min-width: 768px) {
  .main__selection {
    padding-top: 65px;
  }
}

@media (min-width: 1440px) {
  .main__selection {
    padding-top: 77px;
  }
}

.main__selection-title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .main__selection-title {
    font-size: 60px;
    line-height: 60px;
  }
}

.main__selection-text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  width: 230px;
}

@media (min-width: 768px) {
  .main__selection-text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
    width: 323px;
  }
}

@media (min-width: 1440px) {
  .main__selection-text {
    margin-top: 56px;
    width: 323px;
  }
}
