img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
}
.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #68B738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.wrapper {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1220px;
  }
}
.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page__header {
    display: flex;
    justify-content: space-between;
  }
}
.header {
  position: relative;
}
@media (min-width: 768px) {
  .header {
    margin: 0 auto;
    width: 92%;
    display: flex;
    margin-top: 24px;
  }
}
@media (min-width: 1440px) {
  .header {
    width: 1220px;
    z-index: 2;
  }
}
.header__link {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__link {
    padding: 0;
    margin: 0;
    display: block;
  }
}
.header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(#ffffff 11px, black 11px, #000000 13px, #ffffff 13px);
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}
.header__toggle::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transition: transform 0.2s ease-in 0.2s, top 0.2s linear;
  bottom: 0;
  left: 0;
}
.header__toggle::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transition: transform 0.2s ease-in 0.2s, top 0.2s linear;
  top: 0;
  left: 0;
}
.open-toggle.header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: none;
}
.open-toggle.header__toggle::before {
  transform: rotate(-45deg);
  top: 11px;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.open-toggle.header__toggle::after {
  transform: rotate(45deg);
  top: 11px;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header__logo img {
  width: 33px;
  height: 37px;
}
@media (min-width: 768px) {
  .header__logo img {
    width: 174px;
    height: 51px;
  }
}
@media (min-width: 1440px) {
  .header__logo img {
    width: 202px;
    height: 59px;
  }
}
@media (min-width: 768px) {
  .header__logo-text {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__link {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigation {
    width: 440px;
  }
}
.site-list__item a {
  color: #000000;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
}
@media (min-width: 768px) {
  .site-list__item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__item a {
    line-height: 29px;
  }
}
.site-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: none;
}
.site-list-open {
  display: block;
}
.site-list__item {
  border-top: 1px solid #E6E6E6;
}
.site-list__item:last-child {
  border-bottom: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
  }
  .site-list__item {
    padding: 0;
    border: none;
    position: relative;
    padding-bottom: 10px;
  }
  .site-list__item:not(:last-child) {
    margin-right: 33px;
  }
  .site-list__item:last-child {
    border: none;
  }
  .site-list__item--active a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    bottom: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__item a {
    color: #ffffff;
  }
  .site-list__item--active a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
  }
}
.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: relative;
    margin-top: -100px;
    padding-top: 100px;
  }
  .promo::before {
    position: absolute;
    content: "";
    margin: 0 auto;
    width: 50%;
    height: 100%;
    right: 0;
    background-image: url("../img/index-background-desktop 1.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
  }
}
.promo__text {
  position: relative;
  min-height: 280px;
  text-align: center;
  color: #ffffff;
  background: url("../img/promo-mobile.png");
  background-repeat: no-repeat;
  background-position: 65% 0;
  background-size: cover;
}
@media (min-width: 768px) {
  .promo__text {
    background-image: none;
    color: #000000;
    text-align: left;
    width: 92%;
    margin: 0 auto;
    margin-left: 87px;
  }
}
@media (min-width: 1440px) {
  .promo__text {
    width: 494px;
    margin: 0;
    margin-left: 80px;
  }
}
.promo__image {
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -110px;
  z-index: 1;
}
@media (min-width: 768px) {
  .promo__image {
    order: 3;
    width: 709px;
    height: 609px;
    margin-top: -85px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    position: absolute;
    width: 552px;
    height: 499px;
    margin: 0;
    right: 201px;
    top: 32px;
  }
}
.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  margin-top: 27px;
  max-width: 389px;
}
@media (min-width: 768px) {
  .promo__title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-top: 62px;
  }
}
@media (min-width: 768px) {
  .promo__title {
    margin: 0;
    margin-top: 114px;
  }
}
.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
  }
}
.promo__button {
  order: 2;
  display: block;
  width: 280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .promo__button {
    margin-top: 49px;
    margin-left: 82px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 26px;
    padding-right: 26px;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    margin: 0;
    margin-left: 80px;
    margin-top: 51px;
    margin-bottom: 189px;
  }
}
.category-catalog {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .category-catalog__list {
    margin: 0;
  }
}
.category-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .category-catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 82px;
  }
}
.category-catalog__item {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 33px;
  box-sizing: border-box;
}
.category-catalog__item:nth-child(1) {
  margin: 0;
}
@media (min-width: 768px) {
  .category-catalog__item {
    width: 100%;
    margin-top: 30px;
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 52px;
  }
  .category-catalog__item:first-child {
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .category-catalog__item {
    margin: 0;
    width: 570px;
    padding-bottom: 59px;
    padding-right: 51px;
  }
}
.category-catalog__item--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  left: 6.2%;
  background-image: url("../img/cat-back.svg");
  background-repeat: no-repeat;
}
.category-catalog__item--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  left: 4.2%;
  background-image: url("../img/cat-beck.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .category-catalog__item--slim::before {
    width: 200px;
    height: 211px;
    left: 55%;
    background-image: url("../img/cat-back-tablet.svg");
  }
  .category-catalog__item--pro::before {
    width: 268px;
    height: 200px;
    left: 51%;
    background-image: url("../img/cat-beck-tablet.svg");
  }
}
@media (min-width: 1440px) {
  .category-catalog__item--slim::before {
    width: 100px;
    height: 100px;
    left: 54px;
    top: 47px;
    background-image: url("../img/cat-back-descrop.svg");
  }
  .category-catalog__item--pro::before {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 47px;
    background-image: url("../img/cat-beck-desctop.svg");
  }
}
.category-catalog__title {
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 31%;
}
@media (min-width: 768px) {
  .category-catalog__title {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .category-catalog__title {
    margin-left: 162px;
  }
}
.category-catalog__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  margin-bottom: 19px;
  margin-top: 29px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .category-catalog__text {
    font-size: 16px;
    line-height: 24px;
    width: 48%;
    margin-bottom: 52px;
    margin-top: 24px;
    padding-bottom: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .category-catalog__text {
    width: 100%;
    margin-bottom: 27px;
    margin-top: 73px;
  }
}
.category-catalog__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 19px;
  padding-right: 40px;
}
@media (min-width: 768px) {
  .category-catalog__link {
    padding-right: 50px;
  }
}
@media (min-width: 1440px) {
  .category-catalog__link {
    padding-right: 58px;
  }
}
.category-catalog__link::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  right: 0;
  top: 5px;
  background-image: url('../img/srech-right.svg');
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .category-catalog__link {
    font-size: 20px;
    line-height: 29px;
  }
  .category-catalog__link::before {
    top: 10px;
  }
}
.features {
  margin-top: 27px;
}
@media (min-width: 768px) {
  .features {
    margin-top: 45px;
  }
}
@media (min-width: 1440px) {
  .features {
    margin-top: 71px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 46px;
}
@media (min-width: 768px) {
  .features__list {
    padding-top: 72px;
    padding-bottom: 104px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 94px;
  }
}
.features__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.features__item {
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin-top: 20px;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.features__item:nth-child(1) {
  margin-top: 0;
}
.features__item::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .features__item::after {
    width: 80px;
    height: 80px;
  }
}
.features__item:nth-child(1)::after {
  background-image: url("../img/block1.png");
}
.features__item:nth-child(2)::after {
  background-image: url("../img/block2.png");
}
.features__item:nth-child(3)::after {
  background-image: url("../img/block3.png");
}
.features__item:nth-child(4)::after {
  background-image: url("../img/block4.png");
}
@media (min-width: 650px) {
  .features__item {
    width: 280px;
  }
  .features__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .features__item {
    align-items: baseline;
    width: 230px;
    padding-left: 0;
    padding-top: 113px;
    margin-right: 23%;
  }
  .features__item:nth-child(2n) {
    margin-right: 11%;
  }
  .features__item:not(:nth-child(1)) {
    margin-top: 134px;
  }
  .features__item:nth-child(2) {
    margin-top: 0;
  }
  .features__item:nth-child(1) {
    margin-top: 0;
  }
  .features__item::after {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
}
@media (min-width: 768px) {
  .features__item {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .features__item {
    padding-top: 114px;
    margin-right: 0;
  }
  .features__item:not(:nth-child(1)) {
    margin-top: 0;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
}
.example__wrapper {
  padding-bottom: 31px;
}
@media (min-width: 769px) {
  .example__wrapper {
    padding-bottom: 64px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 75px;
  }
}
.example {
  background-color: #EAEAEA;
  padding-top: 1px;
}
.example__description h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .example__description h2 {
    margin-top: 43px;
  }
}
@media (min-width: 1440px) {
  .example__description h2 {
    margin-top: 58px;
  }
}
.example__description p {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 33px;
}
@media (min-width: 768px) {
  .example__description p {
    margin-top: 63px;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .example__description p {
    margin-top: 146px;
    width: 436px;
  }
}
.example__numbers {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .example__numbers {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
  }
}
@media (min-width: 1440px) {
  .example__numbers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 69px;
  }
}
.example__stats {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .example__stats {
    width: 366px;
    margin: 0;
  }
}
.example__stats div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.example__stats dt {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  box-sizing: border-box;
  width: 82px;
  background-color: #EAEAEA;
  margin: 0 auto;
  margin-top: -10px;
  z-index: 2;
}
@media (min-width: 768px) {
  .example__stats dt {
    font-size: 14px;
    line-height: 14px;
  }
}
.example__stats dd {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__stats dd {
    font-size: 30px;
    line-height: 37px;
  }
}
.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 11px;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
  .example__cost tr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .example__cost {
    margin-top: 35px;
    display: flex;
  }
  .example__cost tr {
    display: flex;
    flex-direction: row;
    width: 337px;
  }
  .example__cost td {
    width: 60%;
  }
  .example__cost td:nth-child(2) {
    width: 40%;
    text-align: right;
  }
}
.example__weight-loss {
  margin-top: 42px;
}
@media (min-width: 768px) {
  .example__weight-loss {
    margin-top: 51px;
  }
}
@media (min-width: 1440px) {
  .example__weight-loss {
    margin-top: 0;
  }
}
.example__weight-range {
  width: 228px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .example__weight-range {
    width: 572px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.example__weight-button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.footer {
  background-color: #F2F2F2;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 66px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding-top: 63px;
    padding-bottom: 61px;
  }
}
.footer__location {
  background-color: #ffffff;
}
.footer__address {
  width: 87%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .footer__address {
    width: 92%;
    padding-top: 66px;
    padding-bottom: 51px;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.footer__address h2 {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .footer__address h2 {
    font-size: 20px;
    line-height: 21px;
    width: 159px;
  }
}
.footer__address p {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 0;
  width: 140px;
  text-align: right;
}
@media (min-width: 768px) {
  .footer__address p {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
  }
}
.footer__logo {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
.social {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
  padding-bottom: 23px;
  align-items: center;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}
.footer__social-line {
  margin-top: 32px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .footer__social-line {
    margin: 0;
    border: none;
  }
}
.social__item {
  margin-right: 30px;
}
.social__item:nth-child(1) {
  margin-right: 36px;
}
.social__item:nth-child(2) {
  margin-right: 33px;
}
.social__item:nth-child(3n) {
  margin-right: 0;
}
.footer__copyrigh-link {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .footer__copyrigh-link {
    margin: 0;
  }
  .footer__copyrigh-link p {
    padding: 0;
    margin: 0;
    margin-right: 22px;
  }
}
.main__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Arial", "Oswald", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.catalog {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.card {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .card {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 245px;
  }
}
.catalog__show-all {
  width: 280px;
}
@media (min-width: 768px) {
  .catalog__show-all {
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .catalog__show-all {
    width: 245px;
  }
}
.card__title a {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__title a {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .card__title a {
    line-height: 21px;
  }
}
.card__specifications th,
.card__specifications td {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .card__specifications th,
  .card__specifications td {
    font-size: 16px;
    line-height: 16px;
  }
}
.catalog__show-title {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog__show-title {
    font-size: 20px;
    line-height: 22px;
  }
}
.catalog__show-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog__show-text {
    font-size: 16px;
    line-height: 18px;
  }
}
.catalog__show-button {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #F2F2F2;
}
.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .additional-goods__wrap {
    display: flex;
    justify-content: space-between;
  }
}
.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.additional-goods__item-title a {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .additional-goods__item-title a {
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-goods__item table {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-goods__item table {
    font-size: 16px;
    line-height: 18px;
  }
}
.additional-goods__gift p {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
.footer__location-grey {
  background-color: #F2F2F2;
}
.main__selection-title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
.main__selection-text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.form__general-list {
  width: 87%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .form__general-list {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__general-list {
    width: 570px;
  }
}
@media (min-width: 1440px) {
  .form__wrap {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
.form__general-item label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__general-item label {
    font-size: 20px;
    line-height: 29px;
  }
}
.form__general-input::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
.form__general-input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__general-input::-moz-placeholder {
    font-size: 20px;
    line-height: 29px;
  }
  .form__general-input::placeholder {
    font-size: 20px;
    line-height: 29px;
  }
}
.form__additionally-list {
  width: 87%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .form__additionally-list {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__additionally-list {
    width: 570px;
  }
}
.form__additionally-item label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__additionally-item label {
    font-size: 20px;
    line-height: 29px;
  }
}
@media (min-width: 1440px) {
  .form__details-list {
    display: flex;
  }
}
.form__details-wrap {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__details-wrap {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__details-wrap {
    width: 1220px;
  }
}
.form__details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__details-item label,
.form__details-item input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__details-item label,
  .form__details-item input {
    font-size: 20px;
    line-height: 29px;
  }
}
.form__title {
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.form__comments-wrap {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__comments-wrap {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__comments-wrap {
    width: 1220px;
  }
}
.form__comments-text::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
.form__comments-text::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__comments-text::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .form__comments-text::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__additional-information-wrap {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__additional-information-wrap {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__additional-information-wrap {
    width: 1220px;
  }
}
.form__additional-information-list {
  padding: 0;
  list-style: none;
  display: grid;
}
@media (min-width: 768px) {
  .form__additional-information-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .form__additional-information-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.form__additional-information-item label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__additional-information-item label {
    font-size: 20px;
    line-height: 29px;
  }
}
.form__post-wrap {
  width: 87%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__post-wrap {
    width: 92%;
  }
}
@media (min-width: 1440px) {
  .form__post-wrap {
    width: 1220px;
  }
}
.form__post-scriptum {
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__post-scriptum {
    font-size: 16 px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
